*{
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}
body{
    background-color: #002A52;
    background-image:url("img/base_background.png");
    background-position: center 2px;
    background-repeat: no-repeat;
    text-align:center;
}
#page{
    margin: 58px auto;
    top: 0;
    width: 841px;
}
#pageHeader{
    float: left;
    position: absolute;
}
#pageHeader img.logo{
    float:left;
    margin-top: -11px;
}
#pageHeader ul.mainMenu{
    float: left;
    font-size: 0.85em;
    height: 50px;
    left: 260px;
    list-style-type: none;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 588px;
}
#pageHeader ul.mainMenu li{
    float: left;
    height: 100%;
    line-height: 100%;
    margin-right: 3px;
    text-align: center;
    vertical-align: middle;
}
#pageHeader ul.mainMenu li a{
    color: #FFFFFF;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: 100%;
    margin-top: 16px;
    text-decoration: none;
    vertical-align: middle;
}
#pageContent{
    float: left;
    margin-top: 62px;
    text-align: left;
    width: 100%;
}
#pageContent .contentTitle{
    color:white;
    float:left;
    font-size:2.2em;
    height:67px;
    margin-top:45px;
    padding-left:20px;
    padding-top:25px;
}
#pageContent .contentImageDecorator{
    float: right;
    position: absolute;
    top: 251px;
}
#pageContent .mainContent{
    color: #09233D;
    float: left;
    font-family: Trebuchet MS,sans-serif;
    font-size: 0.7em;
    height: 372px;
    margin-top: 127px;
    overflow: auto;
    padding: 10px;
    width: 100%;
}
#pageContent .mainContent p{
    margin-top: 5px;
    margin-bottom:10px;
}
#pageFooter{
    color: #4777A4;
    float: left;
    font-size: 0.5em;
    margin: 5px 3px;
    padding: 5px 20px;
    text-align: justify;
}