*{
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}
body{
    background-image:url("img/base_background.png");
    background-position:center 0;
    text-align:center;
}
#page{
    width: 841px;
    margin: 3% auto;

}
#pageHeader{
    float: left;
    width: 100%;
}
#pageHeader img.logo{
    float:left;
    margin-right:10px;
    margin-top:5px;
}
#pageHeader ul.mainMenu{
    float: left;
    font-size: 0.85em;
    left: 0;
    list-style-type: none;
    margin-left: 4px;
    position: relative;
    top: 20px;
    vertical-align: middle;
    width: 570px;
}
#pageHeader ul.mainMenu li{
    float:left;
    padding-left:24px;
    padding-top:10px;
}
#pageHeader ul.mainMenu li a{
    color:#FFFFFF;
    float:left;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
}
#pageContent{
    float: left;
    width: 100%;
    text-align: left;
}
#pageContent .contentTitle{
    color:white;
    float:left;
    font-size:2.2em;
    height:67px;
    margin-top:45px;
    padding-left:20px;
    padding-top:25px;
}
#pageContent .contentImageDecorator{
    float:right;
    position:absolute;
    top:249px;
}
#pageContent .mainContent{
    color:#09233D;
    float:left;
    font-family:Trebuchet MS,sans-serif;
    font-size:0.7em;
    height:372px;
    margin-top:127px;
    overflow:auto;
    padding:10px;
    width:100%;
}
#pageContent .mainContent p{
    margin-top: 5px;
    margin-bottom:10px;
}
#pageFooter{
    color: #4777A4;
    float: left;
    font-size: 0.5em;
    margin: 5px 3px;
    padding: 5px 20px;
    text-align: justify;
}